<main class="wp-block-group alignfull">

    <div class="wp-block-group alignfull" style="background-color:#b38b6d;padding-top:6rem;padding-bottom:12rem">
        <h1 class="wp-block-heading has-text-align-center" style="font-size:3.5rem;color:#ffffff">About</h1>
    </div>
    <div class="wp-block-group has-base-background-color has-background shadow-2xl overflow-hidden" style="margin-top:-160px;border-radius:12px">
        <div class="wp-block-columns are-vertically-aligned-stretch">
            
            <div class="wp-block-column portrait-media-column" style="flex-basis:50%">
                <figure class="wp-block-image size-large h-full object-cover"><img src="<?php echo esc_url(get_template_directory_uri()); ?>/assets/images/lucie-portrait.png" alt="Lucie portrait" class="w-full h-full object-cover"/></figure>
                </div>
            <div class="wp-block-column" style="flex-basis:50%;padding:3rem">
                <h2 class="wp-block-heading" style="font-size:2.25rem">Hello &amp; Welcome</h2>
                <p class="has-text-align-justify">I’m Lucie. I'm an artist and historian specializing in 18th- and 19th-century art, material culture, and women’s history. With a decade of experience as a textile dyer, I have a deep technical and historical understanding of botanical dyes, with a particular interest in indigo.</p>
                <p class="has-text-align-justify">In addition to textile work, I'm an accomplished printmaker and graphic designer. I earned a BFA in Art History from Moore College of Art and Design, and I'm currently pursuing a Master’s in Museum Studies at Johns Hopkins University.</p>
                <div class="wp-block-group">
                    <figure class="wp-block-image size-full max-w-[190px]"><img src="<?php echo esc_url(get_template_directory_uri()); ?>/assets/images/signature.png" alt="Lucie signature"/></figure>
                </div>
                </div>
            </div>
        </div>
    </main>