<main class="wp-block-group alignfull">

    <div class="wp-block-group alignfull has-base-color has-text-color" style="background-color:#00416A;padding-top:6rem;padding-bottom:12rem">
        <h1 class="wp-block-heading has-text-align-center" style="font-size:3.5rem;color:#ffffff">The Shop</h1>
    </div>
    <div class="wp-block-group has-base-background-color has-background shadow-2xl relative z-10 card-overlay-frame" style="margin-top:-180px;border-radius:12px">
        
        <div class="wp-block-group" style="padding-top:2rem;padding-bottom:2rem">
            <p class="has-text-align-center">All Yarns • Fine Handkerchiefs • Botanical Dye Kits</p>
            </div>
        <div class="wp-block-query">
            </div>
        </div>
    </main>