<main class="wp-block-group alignfull">

    <div class="wp-block-group alignfull" style="background-color:#7EA172;padding-top:6rem;padding-bottom:12rem">
        <h1 class="wp-block-heading has-text-align-center" style="font-size:3.5rem;color:#ffffff">Research &amp; Blog</h1>
    </div>
    <div class="wp-block-group" style="margin-top:-160px">
        <div class="wp-block-columns alignwide">
            
            <div class="wp-block-column" style="flex-basis:25%">
                <div class="wp-block-group has-base-background-color has-background" style="padding:2rem;border-radius:8px">
                    <h3 class="wp-block-heading" style="font-size:1.25rem">Categories</h3>
                    </div>
                </div>
            <div class="wp-block-column" style="flex-basis:75%">
                <div class="wp-block-query">
                    </div>
                </div>
            </div>
        </div>
    </main>